$fa-font-path = '../assets/bower_components/font-awesome-stylus/fonts'
@import '../bower_components/font-awesome-stylus/stylus/index.styl'
@import '../bower_components/bootstrap-stylus/bootstrap/index.styl'

body
  padding: 15px

ul.expense-list
  list-style-type: none
